.logo {
  padding: 18px;
  /* background: url(../../assets/Daraz.png); */
  /* width: 1005;
  height:100px;
  background-size: cover;
  padding: 10px; */
  /* margin: 0 auto; */

  }
  .logo p{
    color: white;
    font-size: 20px;
  }
  .site-layout .site-layout-background {
    background: #fff;
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }